@model IEnumerable<MyThings.Web.Models.Category>

@{
    ViewBag.Title = "Minhas Categorias";
}

<h2>@ViewBag.Title</h2>
<div class="btn-toolbar">
    @Html.ActionLink("Novo", "Create", null, new { @class = "btn btn-primary" })
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Icone</th>
                <th width="90px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => category.Name)</td>
                    <td>
                        @if (!string.IsNullOrEmpty(category.Icon))
                        {
                            <i class="@category.Icon"></i>
                        }
                    </td>
                    <td>
                        @*<a href="@Url.Action("Details", new { id = category.CategoryID })" class="btn btn-sm btn-primary">
                                <i class="glyphicon glyphicon-open"></i>
                            </a>*@
                        <a href="@Url.Action("Edit", new { id = category.CategoryID })" class="btn btn-sm btn-warning">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a href="@Url.Action("Delete", new { id = category.CategoryID })" data-confirmation data-method="post" class="btn btn-sm btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

